version: '3.5'
services:
    db:
        container_name: postgres
        image: postgres
        environment:
            - POSTGRES_PASSWORD=
        networks:
            - proxy
        volumes:
            - pgdata:/var/lib/postgresql/data/

volumes:
    pgdata:

networks:
    proxy:
        external:
            name: nginx-proxy

